<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Corte 2</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="container"->
    <header>
<center>
    <h2>Comisión de Electicidad</h2>
</header>


</html>