<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<%-include('partials/nav.html');%> 

<section>
    <div class="registros" id="registros">
        
         <div class="labels">
         <div><label >Num. Recibo:</label></div>
    
         <div><label >Nombre:</label></div>
         
         <div><label >Domicio:</label></div>
         
         <div><label >Tipo de servicio:</label></div>
         
         <div><label >Kilowatts Consumidos:</label></div>

         </div>

         <form action="/resultados" method="post" >

         <div class="inputs">
         <div><input type="number" id="recibo" name="recibo" class="form-control" value="<%=recibo%>" required="true"></div>
         <div><input type="text" name="nombre" id="nombre" class="form-control" value="<%=nombre%>" required="true"></div>
         <div><input type="text" id="domicilio" name="domicilio" class="form-control" value="<%=domicilio%>" required="true"></div>
        <div><select name="tipoServicio" id="tipoServicio" class="form-select">
            <option value="1">Domestico</option>
            <option value="2">Comercial</option>
            <option value="3">Indutrial</option>
        </select></div>
         <div> <input type="number" id="consumo" name="consumo" class="form-control" value="<%=consumo%>" required="true"></div>
        
     </div>
     <button class="btn btn-primary" style="margin-top: 15px;" type="submit" >Enviar</button>
     <button class="btn btn-primary" style="margin-top: 15px;" onclick=" limpiarCampos();">Limpiar</button>

    </form>


    <%-include('partials/piedepagina.html');%>

 

<style>
    *{
        font-family: Verdana;
        font-size: 20px;
    }
    body{
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
section{
    flex: 40%;
    background-color: white;
    padding: 30px;
}
a{
	
	text-decoration: none;
	color: #000000;
	padding: 14px 20px;
	border-radius: 30px;
}

a:hover {
	background-color: #000;
	color: #fff;
}
footer{
    background-color: aqua;
    padding: 0px;
    text-align: center;
    height: 80px;
    width: 100%;
}
@media screen and (max-width: 700px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}
.registros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

div{
    margin: 10px;
}
input{
height: 35px;
width: 300px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
margin-top: 15px;
}

label{
    margin-top: 5px;
}
.labels{
    width: 200px;
    flex-wrap: wrap;
}
button{
    margin-bottom: 20px;
}
</style>
<script>

    function limpiarCampos() {
      document.getElementById("recibo").value = "";
      document.getElementById("nombre").value = "";
      document.getElementById("domicilio").value = "";
      document.getElementById("tipoServicio").selectedIndex = 0;
      document.getElementById("consumo").value = "";
    }
    
    </script>
</html>