<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<%-include('partials/nav.html');%> 


     <%
     if(recibo!=0){
        var descuento=0;
        var impuesto=0;
        var pagoTotal=0;
        var subtotal=0;

    if(tipoServicio==1){
        costo=1.08;
        subtotal=consumo*costo;
        impuesto= (subtotal*(16/100));
    }
    else if(tipoServicio==2){
        costo=2.5;
        subtotal=consumo*costo;
        impuesto= (subtotal*(16/100));
    }
    else if(tipoServicio==3){
        costo=3;
        subtotal=consumo*costo;
        impuesto= (subtotal*(16/100));
    }
        if(consumo<=1000){ 
            descuento=(subtotal*(10/100));
        }
        else if(consumo > 1000 && consumo <= 10000){
            descuento=(subtotal*(20/100));
        }
        else if(consumo>10000){
            descuento=(subtotal*(50/100));
        }
    

        
        pagoTotal=(+subtotal+(+impuesto))-descuento;
    }
    %>
    
<section>
     <table class="table table-striped-columns" border="0" style="margin-top: 10%;">
        <tr><th>Nombre</th><th>Tipo de Servicio</th><th>Kilowatts Consumidos</th><th>Costo por Kilowatts</th></tr>
        <tr><td><%=nombre%></td><td><%=tipoServicio%></td><td><%=consumo%></td><td><%=costo%></td></tr>
        <tr><td></td><td></td><td>Subtotal:</td><td><%=subtotal%></td></tr>
        <tr><td></td><td></td><td>Impuesto:</td><td><%=impuesto%></td></tr>
        <tr><td></td><td></td><td>Descuento:</td><td><%=descuento%></td></tr>
        <tr><td></td><td></td><td>Total a pagar:</td><td><%=pagoTotal%></td></tr>
        </table>
    </section>

    <%-include('partials/piedepagina.html');%>

</body>   
<style>
    *{
        font-family: Verdana;
        font-size: 20px;
    }
    body{
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
section{
    flex: 40%;
    background-color: white;
    padding: 30px;
}
a{
	
	text-decoration: none;
	color: #000000;
	padding: 14px 20px;
	border-radius: 30px;
}

a:hover {
	background-color: #000;
	color: #fff;
}
footer{
    background-color: aqua;
    padding: 0px;
    text-align: center;
    height: 80px;
    width: 100%;
}
@media screen and (max-width: 700px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}
.registros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

div{
    margin: 10px;
}
input{
height: 30px;
width: 300px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
margin-top: 10px;
}

label{
    margin-top: 5px;
}
.labels{
    width: 200px;
    flex-wrap: wrap;
}
</style>
<script>

    function limpiarCampos() {
      document.getElementById("recibo").value = "";
      document.getElementById("nombre").value = "";
      document.getElementById("domicilio").value = "";
      document.getElementById("tipoServicio").selectedIndex = 0;
      document.getElementById("consumo").value = "";
    }
    
    </script>
</html>