body{
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
section{
    flex: 40%;
    background-color: white;
    padding: 30px;
}
a{
	
	text-decoration: none;
	color: #000000;
	padding: 14px 20px;
	border-radius: 30px;
}

a:hover {
	background-color: #000;
	color: #fff;
}
footer{
    padding: 0px;
    text-align: center;
    height: 150px;
}